body {
  font-family: Arial;
  margin: 0;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  background: #003366;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

/* Hero */
.hero {
  text-align: center;
  padding: 100px;
  background: url('https://images.unsplash.com/photo-1586528116311-ad8dd3c8310d') no-repeat center/cover;
  color: white;
}

.hero button {
  padding: 10px 20px;
  background: orange;
  border: none;
  cursor: pointer;
}

/* Sections */
section {
  padding: 40px;
  text-align: center;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

input {
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px;
  background: #003366;
  color: white;
  border: none;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #003366;
  color: white;
}